:root{
    --mainColor:#60cc76;
    --secondaryColor:#4bbf6c;
    --linkText:#eb4634;

    --borderColor:#161914;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder:#FFF;

    --previewBg: rgb(81, 90, 72, 0.8);
    --previewShadow: #2a2f25;

    --buttonColor: #07e847
}
